<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tedu.winter.mapper.StudentHomeworkMapper" >
  <resultMap id="BaseResultMap" type="tedu.winter.model.StudentHomework" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="student_id" property="studentId" jdbcType="CHAR" />
    <result column="homework_id" property="homeworkId" jdbcType="BIGINT" />
    <result column="homework_title" property="homeworkTitle" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="tedu.winter.model.StudentHomework" extends="BaseResultMap" >
    <result column="homework_content" property="homeworkContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, student_id, homework_id, homework_title, score, comment, create_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    homework_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from s_student_homework
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByHomeworkId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
  select
  <include refid="Base_Column_List" />
  ,
  <include refid="Blob_Column_List" />
  from s_student_homework
  where homework_id = #{homeworkId,jdbcType=BIGINT}
</select>

  <select id="selectByDoublekey" resultMap="ResultMapWithBLOBs" parameterType="tedu.winter.model.StudentHomework" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from s_student_homework
    where

      student_id = #{studentId,jdbcType=CHAR} and
      homework_id = #{homeworkId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from s_student_homework
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="tedu.winter.model.StudentHomework" >
    insert into s_student_homework (id, student_id, homework_id, 
      homework_title, score, comment, 
      create_time, update_time, homework_content
      )
    values (#{id,jdbcType=BIGINT}, #{studentId,jdbcType=CHAR}, #{homeworkId,jdbcType=BIGINT}, 
      #{homeworkTitle,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, #{comment,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{homeworkContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="tedu.winter.model.StudentHomework" >
    insert into s_student_homework
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="homeworkId != null" >
        homework_id,
      </if>
      <if test="homeworkTitle != null" >
        homework_title,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="homeworkContent != null" >
        homework_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=CHAR},
      </if>
      <if test="homeworkId != null" >
        #{homeworkId,jdbcType=BIGINT},
      </if>
      <if test="homeworkTitle != null" >
        #{homeworkTitle,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="homeworkContent != null" >
        #{homeworkContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="tedu.winter.model.StudentHomework" >
    update s_student_homework
    <set >
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=CHAR},
      </if>
      <if test="homeworkId != null" >
        homework_id = #{homeworkId,jdbcType=BIGINT},
      </if>
      <if test="homeworkTitle != null" >
        homework_title = #{homeworkTitle,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="homeworkContent != null" >
        homework_content = #{homeworkContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="tedu.winter.model.StudentHomework" >
    update s_student_homework
    set student_id = #{studentId,jdbcType=CHAR},
      homework_id = #{homeworkId,jdbcType=BIGINT},
      homework_title = #{homeworkTitle,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      comment = #{comment,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      homework_content = #{homeworkContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="tedu.winter.model.StudentHomework" >
    update s_student_homework
    set student_id = #{studentId,jdbcType=CHAR},
      homework_id = #{homeworkId,jdbcType=BIGINT},
      homework_title = #{homeworkTitle,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      comment = #{comment,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>