<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>注册-作业管理系统</title>


</head>
<body align="center" >

    <h3>农夫作业管理系统</h3>
            欢迎注册
<br>
    <form action="/user/add" method="POST">
        <p>
            <label>姓名</label>
            <input type="text" name="name">
        </p>
        <p>
            <label>学号/工号</label>
            <input type="text" name="account" />
        </p>
        <p>
            <label>密码</label>
            <input type="password" name="password" />
        </p>
        <p>
            <input type="checkbox" name="type" value="0" />注册为学生
            <input type="checkbox" name="type" value="1" />注册为老师

        </p>
        <p class="submit">
            <input type="submit" value="注册" />
        </p>
    </form>

    <div class="reg-bar">
        <a class="reg" href="/user/login">已有账号？直接登录</a>
    </div>
</div>

</body>
</html>